snippet start
	\documentclass{article}

	\usepackage[brazilian]{babel}

snippet table
	\begin{table}
		\caption{${1:titulo}}
		\begin{tabular}{${0:|c|}}
			\hline
			\hline
		\end{tabular}
	\end{table}
